# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# env
.env

# npm
node_modules
node_modules2
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
© 2021 GitHub, Inc.

# others
keys

# output
dist

package-lock.json
pnpm-lock.json
pnpm-lock.yaml